.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    width: 100%;
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #0290ff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    li {
      margin-right: 20px;
      list-style: none;
      transition: all 0.3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: rgb(31, 31, 31);
        text-decoration: none;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: #0290ff;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .oval {
    border: solid 1px #e8e8e8;
    padding: 12px 15px;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;

    .fa {
      font-size: 18px;
      color: #0290ff;
    }
  }
}
